body {
  background: #ffffd4;
	text-align: center;
  font-family: "Helvetica", "Arial", sans-serif;
  width: 90%;
  max-width: 900px;
  margin: auto;
  margin-top: 3rem;
}
ul {
	list-style-type: none;
}
a {
text-decoration: none;
font-style: italic;
color: white;
font-weight: bold;
}
a:hover {color: orange}
nav {
	background:black;
}
img {
	width:50%;
	border: 0;
	outline: 0;
}
h1 {
	font-family: 'Hind Siliguri', sans-serif;
}
p {
	font-family: 'Crimson Text', serif;
}
h3 {
	font-family: 'Grechen Fuemen', cursive;
	  font-size: 25px;
}
h3:nth-of-type(2n) {
  font-size: unset;
}

nav {
  background: black;
  color:white;
  width: 100%;
  display: inline-block;
  padding: 5px 0;
  margin-bottom: 10px;
  border-bottom: 3px solid white;
  font-family: 'Helvetica', sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

li {
  width: 20%;
}

@media (max-width: 850px) {

  li {
    width: 50%;
  }

}

@media (max-width: 600px) {

  ul {
    flex-direction: column;
  }

  li {
    width: 100%;
  }
}
