
body {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Playfair Display', serif;
  font-family: 'Lato', sans-serif;
  margin: 15px;
  padding: 10px;
  font-size: 16px;
}
ul {
	list-style-type: none;
}
a {
text-decoration: none;
font-style: italic;
color: black;
font-weight: bold;
}
a:hover {color: orange}


nav {
	background:black;
}
img {
	width:100%;
	border: 0;
	outline: 0;
}
h1 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 2em;
  margin: auto;
}
h2 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 1.75em;
  margin: auto;
  display: block;
  margin-bottom: 40px;
}
h3 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 1.1em;
  color: #666666;
  text-transform: uppercase;
  margin-top: 10px;
}
p {
	font-family: 'Crimson Text', serif;
}


nav {
  background: gray;
  color:white;
  width: 100%;
  display: inline-block;
  padding: 5px 0;
  margin-bottom: 10px;
  border-bottom: 3px solid white;
  font-family: 'Helvetica', sans-serif;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

li {
  width: 33.3%;
}

#homepagebody {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.about {
  margin: 10px;
  padding: 20px;
}

.me {
  max-width: 40%;
  margin: 20px;
  margin-top: 40px;
}
.imageGallery{
  align-items: center;
}
.imageGallery {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
align-self: center;
}

.imageHolder {
  margin: 20px 0;
}

.imageHolder caption {
  margin: 10px 0;
}

img {
  width: 100%;
  max-width: 1000px;
}

.button_holder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hideThisDiv {
  /*display: none;*/
}
#resumecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.resume{

}
@media (max-width: 850px) {

  li {
    width: 50%;
  }

}

@media (max-width: 600px) {

  ul {
    flex-direction: column;
  }

  li {
    width: 100%;
  }
}
